<h1><%= @user.email %></h1>

<div class="tweets">
  <h3>Here are your tweets</h3>
  <% if @user.tweets.any? %>
    <% @user.tweets.each do |tweet| %>
      <p><%= tweet.content %></p>
    <% end %>
  <% end %>
</div>
